<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Inc. Lista</ion-title>
    <ion-img slot="end" src="./assets/logoGesAulamin.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let inc of incidencias | async">
      <ion-item *ngIf="!inc.recogida" routerLink="/detail-incidencia/{{inc.idIncidencia}}/{{nueva}}">

          <ion-grid class="redClass" [class.greenClass]="inc.fechaFin">
            <ion-row>
              <ion-col>
                <h2 class="ion-text-center">{{ inc.idEquipo }}</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>{{ inc.descripcion }}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>{{ inc.creadaPor }}</p>
              </ion-col>
              <ion-col>
                <p>{{ inc.fechaInicio }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
       
      </ion-item>
    </div>

  </ion-list>
</ion-content>
