ion-col > p, ion-col > h3{
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  padding: 10px;
  margin: 0;
}
.redClass{
  background-color: orangered;
}
.greenClass {
  background-color: greenyellow;
}
