<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>lista de Aulas</ion-title>
        <ion-img slot="end" src="./assets/logoGesAulamin.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item
                *ngFor="let aula of aulas | async"
                routerLink="/detail-aula/{{aula.idAula}}/false"
        >
            <ion-avatar slot="start">
                <img src="./assets/avatarAula.png">
            </ion-avatar>
            <ion-label>
                <h2>{{ aula.idAula }}</h2>
                <p>{{ aula.departamento }}</p>
                <p>{{ aula.curso }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-fab-button routerLink="/detail-aula/true">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-content>
