<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ titulo }}</ion-title>
        <ion-img slot="end" src="./assets/logoGesAulamin.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="usuarioFG" (ngSubmit)="guardarUsuario()">
        <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email:</ion-label>
            <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Rol:</ion-label>
            <ion-input formControlName="rol"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="!usuarioFG.valid || !usuarioFG.dirty">{{action}} User</ion-button>
    </form>
</ion-content>
