ion-row.incidencia {
  background-color: #f9544f;
}
ion-row#header {
  border-bottom: 1px solid #736969;
  border-top: 1px solid #736969;
}
ion-icon{
  font-size: 24px;
}
ion-content {
  --background: url('../../../../assets/fondoDegradado.png') no-repeat center center fixed;
  --background-size: cover;
}
