<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Lista Equipos</ion-title>
        <ion-img slot="end" src="./assets/logoGesAulamin.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header lines="inset">
            <ion-label>IdEquipo</ion-label>
            <ion-label>Aula</ion-label>
            <ion-label>Departamento</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let equipo of equipos | async"
        routerLink="/detail-equipo/{{equipo.idEquipo}}/false">
            <ion-label>{{ equipo.idEquipo }}</ion-label>
            <ion-label>{{ equipo.ubicacion.aula}}</ion-label>
            <ion-label>{{ equipo.ubicacion.departamento}}</ion-label>
        </ion-item>
    </ion-list>

        <ion-button (click)="presentActionSheet()" expand="block" >
            Acciones
        </ion-button>


            <!--<ion-icon name="arrow-up-circle"></ion-icon>

    <ion-fab vertical="bottom">
    </ion-fab>-->
</ion-content>
