<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Lista Equipos</ion-title>
        <ion-img slot="end" src="./assets/logoGesAulamin.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3 *ngIf="idAula" class="ion-text-center">Aula {{ idAula }}</h3>
    <ion-list>
        <ion-list-header lines="inset">
            <ion-label>IdEquipo</ion-label>
            <ion-label *ngIf="!idAula">Aula</ion-label>
            <ion-label *ngIf="!idAula">Departamento</ion-label>
            <ion-label *ngIf="idAula">Puesto</ion-label>
            <ion-label *ngIf="idAula"></ion-label>
        </ion-list-header>
        <ion-item *ngFor="let equipo of equipos | async"
                  routerLink="/detail-equipo/{{equipo.idEquipo}}/false">
            <ion-label>{{ equipo.idEquipo }}</ion-label>
            <ion-label *ngIf="!idAula">{{ equipo.ubicacion.aula}}</ion-label>
            <ion-label *ngIf="!idAula">{{ equipo.ubicacion.departamento}}</ion-label>
            <ion-label *ngIf="idAula">{{ equipo.ubicacion.puesto }}</ion-label>
            <ion-label *ngIf="idAula">
                <ion-icon name="eye-outline"></ion-icon>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-button (click)="presentActionSheet()" expand="block" *ngIf="!idAula">
        Acciones
    </ion-button>

</ion-content>
