<ion-header>
    <app-toolbar titulo="Lista de Equipos"></app-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header lines="inset">
            <ion-label>IdEquipo</ion-label>
            <ion-label>Aula</ion-label>
            <ion-label>Departamento</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let equipo of equipos | async"
        routerLink="/detail-equipo/{{equipo.idEquipo}}/false">
            <ion-label>{{ equipo.idEquipo }}</ion-label>
            <ion-label>{{ equipo.ubicacion.aula}}</ion-label>
            <ion-label>{{ equipo.ubicacion.departamento}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-fab horizontal="center" vertical="bottom">
        <ion-fab-button (click)="presentActionSheet()">
            <ion-icon name="arrow-up-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
