<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Aula Nueva</ion-title>
    <ion-img slot="end" src="./assets/logoGesAulamin.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newAula" (ngSubmit)="guardarAula()">
    <ion-item>
      <ion-label>AulaID:</ion-label>
      <ion-input formControlName="idAula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Departamento:</ion-label>
      <ion-input formControlName="departamento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Curso:</ion-label>
      <ion-input formControlName="curso"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!newAula.valid">Guardar</ion-button>
  </form>
</ion-content>
