<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ titulo }}</ion-title>
        <ion-img slot="end" src="./assets/logoGesAulamin.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formEquipo" (submit)="guardaEquipo()">
        <ion-item>
            <ion-label>Código del Equipo</ion-label>
            <ion-input
                    formControlName="idEquipo"
                    type="text"
                    placeholder="Código del Equipo"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Equipo Marca</ion-label>
            <ion-input
                    formControlName="marca"
                    type="text"
                    placeholder="¿De qué marca es el equipo?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Modelo del equipo</ion-label>
            <ion-input
                    formControlName="modelo"
                    type="text"
                    placeholder="¿Cuál es el modelo?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label >Departamento</ion-label>
            <ion-input
                    formControlName="departamento"
                    type="text"
                    placeholder="¿Cuál es el departamento?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label >Aula</ion-label>
            <ion-input
                    formControlName="aula"
                    type="text"
                    placeholder="¿Aula?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label >Monitor</ion-label>
            <ion-input
                    formControlName="monitor"
                    type="text"
                    placeholder="¿Cuál es su monitor?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-checkbox color="primary" slot="end" formControlName="raton"></ion-checkbox>
            <ion-label >Ratón</ion-label>
        </ion-item>

        <ion-item>
            <ion-checkbox color="primary" slot="end" formControlName="teclado"></ion-checkbox>
            <ion-label >Teclado</ion-label>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!formEquipo.valid || !formEquipo.dirty">
            {{ action }} equipo
        </ion-button>

    </form>
</ion-content>
