ion-row:first-child{
  background-color: #f7f7f7;
  border-top: solid 1px #ddd;
  //padding: 10px;
}
ion-row {
  border-bottom: solid 1px #ddd;
}
ion-content {
  --background: url('../../../../assets/fondoDegradado.png') no-repeat center center fixed;
  --background-size: cover;
}
