h3 {
  text-align: center;
}
:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}
ion-button {
  --ion-safe-area-top: 20px;
}
ion-content {
  --background: url('../../../../assets/fondoDegradado.png') no-repeat center center fixed;
  --background-size: cover;
}
