<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Técnico - {{name}}</ion-title>
        <ion-img slot="end" src="./assets/logoGesAulamin.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- primero el título -->
    <h3>Inventario</h3>
    <!-- Barra de búsqueda -->
    <ion-searchbar></ion-searchbar>
    <!-- búsqueda por código QR -->

    <ion-button color="success" expand="block" (click)="scan()">
        <ion-icon name="qr-code-outline"></ion-icon>
        Scan code
    </ion-button>
    <!-- luego area de información -->
    <ion-list>
        <ion-item *ngFor="let total of totales | async" (click)="irALista(total.docId)">
            <ion-icon name="{{ total.icono}}" slot="start"></ion-icon>
            <ion-label>{{total.docId}}</ion-label>
            <ion-badge slot="end"
                       [color]="total.docId == 'incidencias' ? 'danger' : 'primary'">{{ total.total }}</ion-badge>
        </ion-item>
    </ion-list>
    <!-- lista de notificaciones -->
    <ion-list>
        <ion-item-sliding *ngFor="let n of notificaciones | async">
            <ion-item-options side="start">
                <ion-item-option (click)="notifLeida(n)" routerLink="/detail-incidencia/{{n.idIncidencia}}">Leído
                </ion-item-option>
            </ion-item-options>
            <ion-item color="warning" *ngIf="!n.leida">
                <ion-label>{{n.mensaje}} - {{n.desde}}</ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-button expand="block" (click)="logout()">Cerrar sesión</ion-button>
</ion-content>
