<ion-header>
    <app-toolbar titulo="{{ titulo }}"></app-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
    <ion-card>
        <img src="../../../../assets/control_aula_nss.jpg"/>
        <ion-card-header>
            <ion-card-title class="ion-text-center">{{ aula?.idAula }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <!-- convertir en formulario reactivo -->
            <form [formGroup]="aulaForm" (ngSubmit)="guardarDatos()">
                <ion-item *ngIf="nuevo=='true'">
                    <ion-label>Id:</ion-label>
                    <ion-input formControlName="idAula"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Nº Equipos:</ion-label>
                    <ion-input formControlName="numEquipos"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Curso:</ion-label>
                    <ion-input formControlName="curso"></ion-input>
                </ion-item>
                <ion-label color="danger"
                           *ngIf="aulaForm.controls.curso.errors?.required &&
                           (aulaForm.touched || aulaForm.dirty)"
                >
                    * El curso es obligatorio
                </ion-label>
                <ion-item>
                    <ion-label>Dpto:</ion-label>
                    <ion-input formControlName="departamento"></ion-input>
                </ion-item>
                <ion-label color="danger" *ngIf="aulaForm.controls.departamento.errors?.required && (aulaForm.touched || aulaForm.dirty)">
                    * El departamento es obligatorio
                </ion-label>
                <p class="ion-text-center">
                    <ion-button type="submit" [disabled]="!aulaForm.valid || !aulaForm.dirty">Guardar</ion-button>
                </p>
            </form>

        </ion-card-content>
    </ion-card>

</ion-content>
