<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>Add Equipo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="createEquipoForm" (submit)="createEquipo()">
        <ion-item>
            <ion-label stacked>Código del Equipo</ion-label>
            <ion-input
                    formControlName="idEquipo"
                    type="text"
                    placeholder="Código del Equipo"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Equipo Marca</ion-label>
            <ion-input
                    formControlName="marca"
                    type="text"
                    placeholder="¿De qué marca es el equipo?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Modelo del equipo</ion-label>
            <ion-input
                    formControlName="modelo"
                    type="text"
                    placeholder="¿Cuál es el modelo?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Procesador</ion-label>
            <ion-input
                    formControlName="cpu"
                    type="text"
                    placeholder="¿Cuál es la CPU?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Disco Duro</ion-label>
            <ion-input
                    formControlName="hdd"
                    type="text"
                    placeholder="¿Disco duro?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Memoria</ion-label>
            <ion-input
                    formControlName="ram"
                    type="text"
                    placeholder="Memoria RAM"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>MAC tarjeta de red</ion-label>
            <ion-input
                    formControlName="mac"
                    type="text"
                    placeholder="¿Cuál es su MAC?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Número Serie</ion-label>
            <ion-input
                    formControlName="numSerie"
                    type="text"
                    placeholder="Número de serie"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Monitor</ion-label>
            <ion-input
                    formControlName="monitor"
                    type="text"
                    placeholder="¿Cuál es su monitor?"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-checkbox color="primary" slot="end" formControlName="raton"></ion-checkbox>
            <ion-label stacked>Ratón</ion-label>
        </ion-item>

        <ion-item>
            <ion-checkbox color="primary" slot="end" formControlName="teclado"></ion-checkbox>
            <ion-label stacked>Teclado</ion-label>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!createEquipoForm.valid">
            Add Equipo
        </ion-button>
    </form>
</ion-content>
