ion-item-divider {
  background-color: #9b9b9b;
  color: white;
  font-weight: bold;
  font-size: large;
}
ion-content {
  --background: url('../../../../assets/fondoDegradado.png') no-repeat center center fixed;
  --background-size: cover;
}
