h2 {
  text-align: center;
}
h4{
  margin: 0;
  padding: 0;
}
ion-content {
  --background: url('../../../../assets/fondoDegradado.png') no-repeat center center fixed;
  --background-size: cover;
}
ion-list.transparente {
  --ion-item-background: rgba(0,0,0,0);
}
