<ion-header>
    <ion-toolbar color="primary">
        <ion-title>PRA - {{name}}</ion-title>
        <ion-img slot="end" src="./assets/logoGesAulamin.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- primero irá el texto del aula de que se trate -->
    <h2>{{ idAula }}</h2>
    <!-- luego el cuadro de búsqueda
    <ion-searchbar (click)=""></ion-searchbar>-->
    <!-- búsqueda por código QR -->

    <ion-button color="success" expand="block" (click)="scan()">
        <ion-icon name="qr-code-outline"></ion-icon>
        Scan code
    </ion-button>
    <!-- ahora aparecerá un cuadro con el total de equipos del aula -->
    <ion-card class="ion-text-center"
    routerLink="/list-equipos/{{idAula}}">
        <ion-card-header>
            <ion-card-title>
                {{totalEquipos}} equipos
            </ion-card-title>
            <ion-card-subtitle>
                {{numInc}} incidencias activas
            </ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <!-- lista de notificaciones -->
    <ion-list>
        <ion-item-sliding *ngFor="let not of notificaciones | async">
            <ion-item-options side="start">
                <ion-item-option (click)="leido(not)" color="success">
                    <ion-icon name="checkmark-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item *ngIf="!not.leida" color="secondary">
                <ion-icon name="desktop-outline"></ion-icon>
                <ion-label>
                    <h2>{{ not.idIncidencia}} - Notificación</h2>
                    <p class="ion-padding">{{ not.mensaje }}</p>
                </ion-label>
                <ion-note slot="end" color="light">
                    {{ not.fecha }}
                </ion-note>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-button (click)="logout()" expand="block" color="warning">Cerrar sesión</ion-button>
</ion-content>
